extends ../layout.pug

block content
  div(ng-controller="listCreatorController" ng-init="init()")
    div(class="ui segment")
      div(class="ui form")
        div(class="field")
          label Name
          input(type="text" placeholder="List Name" ng-model="name")
        div(class="field")
          label Game
          input(type="text" placeholder="Game" ng-model="game")
        div(class="field")
          label Description
          textarea(placeholder="List Description" rows="3" ng-model="desc")
        div(class="field")
          label List Image
          input(type="file" ng-files="getImages($files)")
        div(class="ui divider")
        div(class="field")
          div(class="ui checkbox")
            label Private?
            input(type="checkbox" ng-model="isPrivate")
        button(class="ui teal button" ng-click="saveData()")
          i(class="save icon")
          | Save List

    div(class="ui segment")
      button(class="ui button" ng-click="addRow()") Add Row
      button(class="ui button" ng-click="removeRow()") Remove Row
      div(ng-repeat="mod in mods")
        div(class="ui vertical segment")
          div(class="ui grid")
            div(class="six wide column")
              div(class="ui fluid labeled input")
                div(class="ui label")
                  i(class="archive icon")
                input(class="mod-name-input" type="text" placeholder="Mod Name" value="{{mod.name}}")

            div(class="five wide column")
              div(class="ui fluid labeled input")
                div(class="ui label")
                  i(class="download icon")
                input(class="mod-download-input" type="text" placeholder="URL" value="{{mod.download}}")

            div(class="five wide column")
              div(class="ui fluid labeled input")
                div(class="ui label")
                  i(class="info circle icon")
                input(class="mod-info-input" type="text" placeholder="URL" value="{{mod.info}}")

block scripts
  script(type="text/javascript" src="/js/controllers/lists/list-creator.controller.js")
  //script(type="text/javascript" src="/js/directives/upload.directive.js")
