extends ../layout.pug

block content
  div(ng-init="init()" ng-controller="listsController")

    div(class="ui segment")
      h1(class="ui header") Lists

      div(class="ui vertical segment" )
        div(class="ui grid")

          if (!user)
            div(class="twelve wide column")
              div(class="ui left icon input fluid")
                input(type="text" ng-model="query" placeholder="Type to Filter..." autofocus)
                i(class="search icon")

            div(class="four wide column")
              button(class="ui fluid teal button" ng-click="createList()")
                i(class="icon add")
                | Create List

        if user
          div(class="sixteen wide column")
            div(class="ui left icon input fluid")
              input(type="text" ng-model="query" placeholder="Type to Filter..." autofocus)
              i(class="search icon")

    div(class="ui segment" ng-repeat="list in lists | filter:query" ng-if="list.name != list.url_id")
      div(class="ui grid")
        div(class="three wide column")
          div(class="ui fluid rounded image")
            <img src="/imgs/placeholder.png">
        div(class="thirteen wide column")
          a(href="/lists/{{list.url_id}}")
            div(class="ui medium teal header" style="display:inline-block;") {{list.name}}
          div(class="ui small grey header right floated" style="display:inline-block;") {{list.game}}
          div(class="ui divider")
          p {{list.desc}}

block scripts
  script(type="text/javascript" src="/js/controllers/lists.controller.js")
