extends ../layout.pug

block content
  div(ng-init="init()" ng-controller="listsController")
    div(class="ui segment")
      h1(class="ui header") Lists
      if user
        div(class="ui left icon fluid input" style="margin-bottom:1rem;")
          input(type="text" ng-model="query" placeholder="Type to Filter..." autofocus)
          i(class="search icon")
        button(class="ui teal button" ng-click="createList()")
          i(class="icon add")
          | Create List

      if !user
        div(class="ui left icon input fluid")
          input(type="text" ng-model="query" placeholder="Type to Filter..." autofocus)
          i(class="search icon")

    div(class="ui two doubling stackable cards")
      div(ng-repeat="list in lists | filter:query" ng-if="list.name != list.url_id" class="ui teal card")
        div(class="image")
          img(src="/imgs/{{list.image_loc}}")
        div(class="content")
          a(class="header" href="/lists/{{list.url_id}}")  {{list.name}}
          div(class="meta")
            span(class="date") {{list.updated_date | date}}
          div(class="description" ng-bind-html="list.html_desc")

        div(class="extra content")
          span(class="creator") Created by : {{list.creator}}





block scripts
  script(type="text/javascript" src="/js/controllers/lists/lists.controller.js")
