extends ../layout.pug

block content
  div(ng-init="init()" ng-controller="listsController")

    div(class="ui segment")
      h1(class="ui header") Lists
      if user
        div(class="ui left icon fluid input" style="margin-bottom:1rem;")
          input(type="text" ng-model="query" placeholder="Type to Filter..." autofocus)
          i(class="search icon")
        button(class="ui teal button" ng-click="createList()")
          i(class="icon add")
          | Create List

      if !user
        div(class="ui left icon input fluid")
          input(type="text" ng-model="query" placeholder="Type to Filter..." autofocus)
          i(class="search icon")

    div(class="ui four doubling stackable link cards")
      div(ng-repeat="list in lists | filter:query" ng-if="list.name != list.url_id" class="ui fluid teal card")
        div(class="image")
          div(ng-if="list.image_loc == ''")
            img(src="/imgs/placeholder.png")
          div(ng-if="list.image_loc != ''")
            img(src="/imgs/{{list.image_loc}}")
        div(class="content")
          a(class="header" href="/lists/{{list.url_id}}")  {{list.name}}
          div(class="meta")
            span(class="date") Created by : {{list.creator}}
          div(class="description") {{list.desc}}
        div(class="extra content")
          span(class="left floated")
            i(class="heart icon")
            | {{list.likes}}
          span(class="right floated")
            i(class="star icon")
            | {{list.likes}}




block scripts
  script(type="text/javascript" src="/js/controllers/lists.controller.js")
