extends ../layout.pug

block content
  div(ng-controller="listViewerController" ng-init="init()")
    div(class="ui segment")
      h1(class="ui header" style="padding:.2rem 0; margin: .2rem 0;") {{name}}
      h3(class="ui header" style="padding:.2rem 0; margin: .2rem 0;") {{game}}
      h5(class="ui header grey" style="padding:.2rem 0; margin: .2rem 0;") By: {{creator}}

      img(src="{{image_loc}}")
      div(class="ui divider")
      p {{desc}}


block scripts
  script(type="text/javascript" src="/js/controllers/list-viewer.controller.js")
