extends ./layout

block content
  div(ng-controller="homeController")
    div(class="ui segment")
      p.
        Our promise is to be
block scripts
  script(type="text/javascript" src="/js/controllers/home.controller.js")
