extends ./layout

block content
  div(ng-controller="homeController")
    div(class="ui segment")
      h3(class="ui large header") Mod Syndicate
      p The way modding was meant to be.
block scripts
  script(type="text/javascript" src="/js/controllers/home.controller.js")
