doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/semantic/dist/semantic.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="/styles/custom.css")

  body
    div(ng-app="app" class="ui container")
      div(class="ui grid")
        div(class="four wide column fixed")
          div(class="ui fluid vertical menu")
            a(href="/" class="item")
              h3 Mod Syndicate
            div(class="item")
              div(class="header") Games
              div(class="menu")
                a(class="item") All Games
                a(class="item") Popular
                a(class="item") Tools
            div(class="item")
              div(class="header") Mods
              div(class="menu")
                a(class="item") All Mods
                a(class="item") Popular
                a(class="item") Recent
            div(class="item")
              div(class="header") Lists
              div(class="menu")
                a(href="/lists" class="item") All Lists
              if user
                a(class="item") My Lists
            if user
              div(class="item")
                div(class="header") Me
                div(class="menu")
                  a(class="item") Messages
                  a(class="item") Settings
            div(class="item")
              div(class="header") Other
              div(class="menu")
                a(class="item") Site Updates
                a(class="item") Site Blog
                a(class="item") About
            if !user
              div(class="item")
                button(class="ui fluid button") Log In / Register
            else
              div(class="item")
                button(class="ui fluid button") Log Out

        div(class="twelve wide column")
          block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
    script(src="/semantic/dist/semantic.min.js")

    block scripts
