doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="./styles/custom.css")

  body
    div(ng-app="app" )
      nav(style="margin-bottom:2rem;").navbar.navbar-light.bg-faded
        a(href="#").navbar-brand
        ul.nav.navbar-nav
          li.nav-item
            a(href="/").nav-link Home
          li.nav-item
            a(href="/lists").nav-link Lists
          li.nav-item
            a(href="/mods").nav-link Mods
        form.form-inline.pull-xs-right
          a(href="/login").btn.btn-primary.nav-btn
            | Log In
          a(href="/signup").btn.btn-primary.nav-btn
            | Sign Up

      block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous")
    script(type="text/javascript" src="./js/listCreatorController.js")
