doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(async rel="stylesheet" href="/semantic/dist/semantic.min.css")
    link(async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css")
    link(async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(async rel="stylesheet" href="/styles/custom.css")

  body
    div(class="ui container" ng-app="app")
      div(class="ui stackable menu")
        a(href="/" class="item header") ModSyndicate
        a(href="/mods" class="ui item") Mods
        a(href="/lists" class="ui item") Lists

        if !user
          div(class="right item")
            button(onclick="location.href='/login'" class="ui button teal" style="margin-right:.5rem;") Login
            button(onclick="location.href='/signup'" class="ui button teal") Sign Up

        if user
          div(class="right menu")
            a(href="/user-settings" class="ui item") Settings
            div(class="ui item")
              button(class="ui button teal" onclick="location.href='/logout'") Logout

      block content


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://code.angularjs.org/1.5.7/angular.js")
    script(src="https://code.angularjs.org/1.5.7/angular-sanitize.js")

    script(src="/semantic/dist/semantic.min.js")
    script(src="/js/analytics.js")
    block scripts
