extends layout

block content
  div.container-fluid(ng-controller="listCreator" ng-init="init()")
    div.col-xs-12
      form#list-creator
        div.form-group
          div.input-group
            div.input-group-addon
              | List Name
            input(type="text" ng-model="name").form-control

        div.form-group
          button(ng-click="saveData()").btn.btn-primary.save-btn.margin-button
            i.fa.fa-save
          button(onclick="getModNames()").btn.btn-secondary.save-btn.margin-button
            | Check for Errors
            i.fa.fa-exclamation-triangle(style="padding-left:.75rem;")

          div.btn-group.margin-button
            button(ng-click="addRows(1)").btn.btn-secondary.save-btn
              | Add Row
            button(data-toggle="dropdown").btn.btn-secondary.dropdown-toggle
            div.dropdown-menu
              a(ng-click="addRows(5)" href="").dropdown-item
                | Add 5 Rows
              a(ng-click="addRows(10)" ).dropdown-item
                | Add 10 Rows
              a(ng-click="addRows(15)" href="").dropdown-item
                | Add 15 Rows
              a(ng-click="addRows(20)" href="").dropdown-item
                | Add 20 Rows
          div.btn-group.margin-button
            button(ng-click="removeRows(1)").btn.btn-secondary.save-btn
              | Remove Row
            button(data-toggle="dropdown").btn.btn-secondary.dropdown-toggle
            div.dropdown-menu
              a(ng-click="removeRows(5)" href="").dropdown-item
                | Remove 5 Rows
              a(ng-click="removeRows(10)" ).dropdown-item
                | Remove 10 Rows
              a(ng-click="removeRows(15)" href="").dropdown-item
                | Remove 15 Rows
              a(ng-click="removeRows(20)" href="").dropdown-item
                | Remove 20 Rows

        table.table
          thead
            tr
              th.text-xs-center Mod Name
              th.text-xs-center Download URL
              th.text-xs-center Info URL
          tbody#modList
            div.form-group
              tr(ng-repeat="mod in mods track by $index").mod-row
                td
                  div.input-group
                    div.input-group-addon
                      i.fa.fa-cube
                    input(type="text" placeholder="Mod Name" value="{{mod.name}}" onClick="this.select();").form-control.mod-name-input
                td
                  div.input-group
                    div.input-group-addon
                      i.fa.fa-download
                    input(type="text" placeholder="Download URL" value="{{mod.download}}" onClick="this.select();").form-control.mod-download-input
                td
                  div.input-group
                    div.input-group-addon
                      i.fa.fa-info-circle
                    input(type="text" placeholder="Info URL" value="{{mod.info}}" onClick="this.select();").form-control.mod-info-input
