extends layout

block content
  div.container-fluid(ng-controller="lists")
    div.col-xs-12(style="padding-bottom:1rem;")
      button.btn.btn-primary(ng-click="createList()")
        | Create a List
    div.col-xs-12(ng-repeat="list in lists")
      div.card
        div.card-block
          a(href="/lists/{{list.url_id}}").card-title
            h5 {{list.name}}
          p {{list.desc}}
          p.card-text
            small Created by <a href="/user/{{list.creator}}">{{list.creator}}</a> on {{list.created_date | date : format : timezone}}

block scripts
  script(type="text/javascript" src="/js/controllers/listController.js")
