extends layout

block content
  div.container(ng-controller="signupController")
    div.col-xs-12
      div.card.col-xs-6.col-xs-offset-3
        div.card-block
          h3.card-title.text-xs-center Sign Up
          div.card-text
            form.form(ng-submit="signup()")
              div.form-group
                label.form-control-label Username
                input.form-control(type="text" ng-model="username" required)
              div.form-group
                label.form-control-label Password
                input.form-control(type="password" ng-model="password" required)

              hr

              div.form-group
                label.form-control-label First Name
                input.form-control(type="string" ng-model="fname")
              div.form-group
                label.form-control-label Last Name
                input.form-control(type="string" ng-model="lname")
              div.form-group
                label.form-control-label Email
                input.form-control(type="email" ng-model="email" required)

              hr

              div.form-group
                label.form-control-label Age
                input.form-control(type="number" ng-model="age")

              div.form-group
                button.btn.btn-primary Sign Up

block scripts
  script(type="text/javascript" src="/js/controllers/signup.controller.js")
