extends ../layout.pug

block content
  div(ng-controller="profileCreatorController" ng-init="init()")

block scripts
  script(type="text/javascript" src="/js/controllers/users/profile-creator.controller.js")
