extends ../layout.pug

block content
  div(ng-controller="profileViewerController" ng-init="init()")

block scripts
  script(type="text/javascript" src="/js/controllers/users/profile-viewer.controller.js")
