* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

body {
  //background:
  //  url(../imgs/diamond_upholstery/diamond_upholstery.png);

  background-color: #363636
}

input {
  border:0 !important;
}

.container, .container-fluid {
  margin-top: 8rem;
}

.card, .jumbotron, .input-group-addon, .dropdown, .navbar {
  background-color:#464646;
}

.card, .jumbotron, #list-creator {
  box-shadow: 0 14px 28px rgba(46, 46, 46, 0.15), 0 10px 10px rgba(63,63,63,0.10);
  border: 0;
}

.navbar{
  border:0;
  box-shadow: 0 0px 0px rgba(46, 46, 46, 0.25), 0 10px 10px rgba(63,63,63,0.22);
}
