// https://color.adobe.com/Bahamas-color-theme-2238023/edit/?copy=true


* {
  color: #eee;
}

/*
::selection {
  background: #F2D03B;
}

::-moz-selection {
  background: #F2D03B;
}
*/

a, input:focus {
  color:#47D9BF !important;
}

.navbar-brand {
  padding-top: 7px;
  color:#eee !important;
}

a:hover {
  color:#00A1D9 !important;
  text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
