// https://color.adobe.com/Bahamas-color-theme-2238023/edit/?copy=true


* {
  color: #eee;
}

::selection {
  background: #47D9BF;
}

::-moz-selection {
  background: #47D9BF;
}

input::selection {
  color: #eee !important;
  background: #47D9BF;
}

input::-moz-selection {
  color: #eee !important;
  background: #47D9BF;
}

a {
  color: #47D9BF !important;
}

input:focus {
  color:#00A1D9 !important;
  //#47D9BF
}

.navbar-brand {
  padding-top: 7px;
  color:#eee !important;
}

a:hover {
  color:#00A1D9 !important;
  text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
