.container {
  padding-top:2rem;
}

body {
  background-image:url(../imgs/bgs/sayagata.png)
}

.simple-header {
  padding:.2rem 0 !important;
  margin: .2rem 0 !important;
}

.crop {
  overflow: hidden;
}
