extends ../layout.pug

block content
  div(ng-controller="modViewerController" ng-init="init()")
    div(class="ui segment")
      div(class="ui image rounded crop" style="width:100%;height:256px;margin-bottom:1rem;")
        img(class="ui fluid image" src="{{images_loc[0]}}")
      h1(class="ui header simple-header teal") {{name}}
      h3(class="ui header simple-header grey") {{game}}
      div(class="ui divider")
      p(ng-bind-html="desc")
      h5(class="ui header grey simple-header") Created by: {{creator}}
      div(class="ui divider")
      button(class="ui button")
        | Download Mod

      if user
        select(class="ui dropdown" ng-model="choice" ng-options="list.name for list in created_lists")

block scripts
  script(type="text/javascript" src="/js/controllers/mods/mod-viewer.controller.js")
